@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" id="viewportid" content="width=750,user-scalable=no" />
    <title>钜MAX测试</title>
    <style>
        /**********************************全局************************************/
        body {
            color: #000;
            font-family: 'Microsoft YaHei';
            border: 0;
            margin: 0 auto;
            padding: 0;
            height: 100%;
            max-width: 750px;
            text-align: center;
            background-color: #000;
            background: url(../../../img/bg.jpg) top center;
            background-size: cover;
        }
        /**********************************全局************************************/
    </style>
</head>
<body>
    <img style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;" src="~/img/www.jpg" />
</body>
</html>